body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;

}
header,.item{

    margin-bottom: 20px;
    width: 1250px;
    height: 400px;
    padding-left: 20px;
    margin: 10px auto;

}
.items{
	
    height: 320px;

}
.p{
    background-color: #2A809D;
    height: 320px;
    background-image: linear-gradient(to bottom,#4b6db9 20%,#b2d3ff 80% );
    font-family: 'Microsoft Yahei';
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-top: 40px;
    line-height: 30px;

}
.item{
    width: 230px;
    height: 300px;
    text-align: center;
    margin-right: 20px;
    background-color: #fff;
    float: left;
    position: relative;
    top: 0;
    overflow: hidden;
    transition: all .5s;
    box-shadow: #41a8ff 0px 5px 5px;

}

.pic{
    margin-top: -15px;
    margin-left: -35px;



}
.desc{
	position: absolute;
	bottom: -100px;
	width: 100%;
	height: 100px;
	background-color: #58a6f0;
	transition: all .5s;
	background-color: rgba(88,166,240,0.8);
}
.item:hover{
	top: -5px;
	box-shadow: 0 0 15px #aaa;
}
.item:hover .desc{
	bottom: 0;
}
.detail{
	font-weight: bold;
	font-size: 20px;
	margin-top: 50px;
}
.detail i{color: red;}



